<nav class="navbar navbar-inverse">
    <div class="container">
	    <nav id="" class="navbar navbar-expand-md bg-dark navbar-dark">
	        <ul class="navbar-nav">
		        <li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
		        <!--li class="nav-item"><a href="/books" class="nav-link">books</a></li-->
		        <li class="nav-item"><a href="/etnews/" class="nav-link">전자신문</a></li>
		        <li class="nav-item dropdown">
		            <a href="/hani" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="true">한겨례신문 <span class="caret"></span></a>
		            <div class="dropdown-menu">
		                <a href="/hani" class="dropdown-item">한겨례신문</a>
		                <a href="/hani?mseq=h21" class="dropdown-item">한겨례21</a>
		                <a href="/hani?mseq=ecopdf" class="dropdown-item">Insight</a>
		                <a href="/hani?mseq=ndpdf" class="dropdown-item">나들</a>
		            </div>
		        </li>
		        <li class="nav-item"><a href="/mk" class="nav-link">매경신문</a></li>
		        <li class="nav-item"><a href="/digitaltimes" class="nav-link">디지털타임즈</a></li>
		        <li class="nav-item dropdown">
		            <a href="/joins?mseq=11" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">중앙일보 <span class="caret"></span></a>
		            <div class="dropdown-menu">
		                <a class="dropdown-item" href="/joins?mseq=11&pseq=42455&mnm=중앙일보">중앙일보</a>
		                <a class="dropdown-item" href="/joins?mseq=12&pseq=42450&mnm=중앙SUNDAY">중앙SUNDAY</a>
		                <a class="dropdown-item" href="/joins?mseq=86&pseq=42432&mnm=여행신문">여행신문</a>
		                <!--a class="dropdown-item" href="/joins?mseq=14&mnm=일간스포츠">일간스포츠</a>
		                <a class="dropdown-item" href="/joins?mseq=84&mnm=신제품 신기술">신제품 신기술</a>
		                <a class="dropdown-item" href="/joins?mseq=118&mnm=DI">DI</a>
		                <a class="dropdown-item" href="/joins?mseq=124&mnm=SKEPTIC">SKEPTIC</a>
		                <a class="dropdown-item" href="/joins?mseq=43&mnm=지식과학 섹션">지식과학 섹션</a>
		                <a class="dropdown-item" href="/joins?mseq=161&mnm=전자기술">전자기술</a>
		                <a class="dropdown-item" href="/joins?mseq=18&mnm=이코노미스트">이코노미스트</a>
		                <a class="dropdown-item" href="/joins?mseq=19&mnm=월간중앙">월간중앙</a>
		                <a class="dropdown-item" href="/joins?mseq=109&mnm=RICH">RICH</a>
		                <a class="dropdown-item" href="/joins?mseq=79&mnm=전원속의 내집">전원속의 내집</a>
		                <a class="dropdown-item" href="/joins?mseq=138&mnm=Interior World">Interior World</a>
		                <a class="dropdown-item" href="/joins?mseq=87&mnm=Travie">Travie</a>
		                <a class="dropdown-item" href="/joins?mseq=78&mnm=TOUR KOREA">TOUR KOREA</a>
		                <a class="dropdown-item" href="/joins?mseq=126&mnm=CARLIFE">CARLIFE</a>
		                <a class="dropdown-item" href="/joins?mseq=132&mnm=자동차생활">자동차생활</a>
		                <a class="dropdown-item" href="/joins?mseq=111&mnm=월간와인">월간와인</a-->
		            </div>
		        </li>
		        <li class="nav-item dropdown">
		            <a href="/chosun" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="true">조선일보 <span class="caret"></span></a>
		            <div class="dropdown-menu">
		                <a href="/chosun" class="dropdown-item">최신뉴스</a>
		                <a href="/chosun/BreakNewsView" class="dropdown-item">한줄속보</a>
		            </div>
		        </li>
		        <!--li class="nav-item"><a href="/users" class="nav-link">users</a></li-->
	        </ul>
	    </nav>
        <!--/.nav-collapse -->
	    <!--div id="navbar" class="collapse navbar-collapse">
	        <ul class="nav navbar-nav">
	        <li class="active"><a href="/">Home</a></li>
	        <li><a href="/books">books</a></li>
	        <li><a href="/etnews/">전자신문</a></li>
	        <li class="dropdown">
	            <a href="/chosun" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">조선일보 <span class="caret"></span></a>
	            <ul class="dropdown-menu" role="menu">
	                <li><a href="/chosun">최신뉴스</a></li>
	                <li><a href="/chosun/BreakNewsView">한줄속보</a></li>
	            </ul>
	        </li>
	        <li><a href="/digitaltimes">디지털타임즈</a></li>
	        <li class="dropdown">
	            <a href="/joins?mseq=11" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">중앙일보 <span class="caret"></span></a>
	            <ul class="dropdown-menu" role="menu">
	                <li><a href="/joins?mseq=11&pseq=42455&mnm=중앙일보">중앙일보</a></li>
	                <li><a href="/joins?mseq=12&pseq=42450&mnm=중앙SUNDAY">중앙SUNDAY</a></li>
	                <li><a href="/joins?mseq=86&pseq=42432&mnm=여행신문">여행신문</a></li>
	                <li class="divider"></li>
	                <li><a href="/joins?mseq=14&mnm=일간스포츠">일간스포츠</a></li>
	                <li><a href="/joins?mseq=84&mnm=신제품 신기술">신제품 신기술</a></li>
	                <li><a href="/joins?mseq=118&mnm=DI">DI</a></li>
	                <li><a href="/joins?mseq=124&mnm=SKEPTIC">SKEPTIC</a></li>
	                <li><a href="/joins?mseq=43&mnm=지식과학 섹션">지식과학 섹션</a></li>
	                <li><a href="/joins?mseq=161&mnm=전자기술">전자기술</a></li>
	                <li class="divider"></li>
	                <li><a href="/joins?mseq=18&mnm=이코노미스트">이코노미스트</a></li>
	                <li><a href="/joins?mseq=19&mnm=월간중앙">월간중앙</a></li>
	                <li><a href="/joins?mseq=109&mnm=RICH">RICH</a></li>
	                <li><a href="/joins?mseq=79&mnm=전원속의 내집">전원속의 내집</a></li>
	                <li><a href="/joins?mseq=138&mnm=Interior World">Interior World</a></li>
	                <li><a href="/joins?mseq=87&mnm=Travie">Travie</a></li>
	                <li><a href="/joins?mseq=78&mnm=TOUR KOREA">TOUR KOREA</a></li>
	                <li><a href="/joins?mseq=126&mnm=CARLIFE">CARLIFE</a></li>
	                <li><a href="/joins?mseq=132&mnm=자동차생활">자동차생활</a></li>
	                <li><a href="/joins?mseq=111&mnm=월간와인">월간와인</a></li>
	            </ul>
	        </li>
	        <li><a href="/users">users</a></li>
	        </ul>
	    </div--><!--/.nav-collapse -->
    </div>
</nav>
