<html>
<head>
<%- include('./headerHtml.ejs') %>
</head>
<body>
    <%- include('./header.ejs') %>
    <div class="container">
        <%- include('./body.ejs') %>
        <%- include('./footer.ejs') %>
    </div>
</body>
</html>